.pitchCount {
  margin-top: 1rem;
  width: 300px;
  height: 200px;
  border: 1px black solid;
  border-radius: 5px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 4px;
  padding: 8px;
}

#calledBalls, 
#calledStrikes,
#remainingOuts {
  background-color: rgb(243, 243, 243);
  color: #f82323;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 8px;
}


