:root {
   margin: .5em;

}

.field_layout {
   display: flex;
   justify-content: center;
}

.field_grid {
   display: grid;
   width: 400px;
   height: 400px;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
  
}

#field_grid5 {
   display: flex;
   justify-content: center;
   align-items: center;
  
}

#field {
   display: flex;
   box-shadow: 0px 0px 20px 2px rgb(151, 151, 151);
   border: 5px rgb(251, 176, 0) solid;
   border-radius: 5px;
   rotate: 45deg;
   width: 275px;
   height: 275px;
   background-color: green;
   /* border-radius: 90px 0px 0px 0px; */
   justify-content: center;
   align-items: center;
 
}

#roll_dice {
   rotate: -45deg;
   border-radius: 45px;
   height: 75px;
   width: 75px;
   background-color: rgb(206, 206, 206);
   border: rgb(255, 255, 255) 2px solid;
   font-size: 14px;
   font-weight: bold;
   color: rgb(0, 0, 0);
   box-shadow: 0px 0px 20px white;
}

#roll_dice:hover {
   border: rgb(68, 102, 255) 2px solid;
   box-shadow: 0px 0px 20px rgb(49, 34, 255);
   background-color: white;
}

#field_grid2, #field_grid4, #field_grid6 {
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1;
}

#first_base, #second_base, #third_base{
   rotate: 45deg;
   width: 15px;
   height: 15px;
   background-color: rgb(255, 255, 255);
   border: 1px black solid;
   border-radius: 2px;
}

.scoreCardCss {
   border: 2px black solid;
   border-radius: 8px;
   padding: 12px;
}

.info_header {
   display: flex;
   justify-content: space-between;
}

#ball {
   width: 50px;
   height: 50px;
   border-radius: 45px;
   background-color: red;
   z-index: 5;
   
}